<div class="row">
    <div class="span3 tweetbox">
        <div class="headerBox">
            <h4>New tweet</h4>
        </div>

        <form name="tweetForm" id="tweetForm" ng-submit="addTweet()" novalidate>
            <h5>Alias : </h5> <input class="aliasfield" type="text" ng-model="tweet.alias" ng-required="true"/>
            <h5>Comment : </h5> <input class="tweetfield" type="text" ng-model="tweet.message"
                                       placeholder="Compose new tweet..." ng-required="true"/>
            <button class="btn btn-primary btnsubmit" ng-disabled="tweetForm.$invalid">Send</button>
        </form>
    </div>

    <div class="span5 tweetListBox" ng-controller="TweetListCtrl">
        <div class="headerBox">
            <h4>Tweets</h4>

            <h5 class="searchFilter">Search in</h5>
            <input type="search" placeholder="alias" ng-model="userQuery.alias">
            <input type="search" placeholder="message" ng-model="userQuery.message">
        </div>
        <div class="tweetListContainer">
            <div class="tweetline"
                 ng-repeat="tweet in tweets.hits.hits|orderBy:_source.date:true|tweetFilter:userQuery.alias:userQuery.message|limitTo:numLimit"
                 ng-click="goConsultTweet(tweet)">
                <div class="row">
                    <h5 class="span2">{{tweet._source.alias}}</h5>
                    <h5 class="span2 tweetDate">{{tweet._source.date| date:'dd/MM/yy HH:mm'}}</h5>
                </div>
                <div>{{tweet._source.message}}</div>
            </div>
            <div class="row">
                <div class="clearfix"></div>
                <p class="pull-left">
                    <button class="btn btn-info"  ng-click="show_more()"><i
                            class="icon-plus icon-white"></i> Show More
                    </button>
                </p>
            </div>
        </div>
    </div>
</div>