<div class="row">
    <div class="span4 tweetbox">
        <div class="tweetsBox">
            <h4>New tweet</h4>
        </div>

        <form name="tweetForm" ng-submit="addTweet()" novalidate>
            <h5>Alias : </h5> <input class="aliasfield" type="text" ng-model="tweet.alias" ng-required="true"/>
            <h5>Comment : </h5> <input class="tweetfield" type="text" ng-model="tweet.message"
                                       placeholder="Compose new tweet..." ng-required="true"/>
            <button class="btn btn-primary btnsubmit" ng-disabled="tweetForm.$invalid">Send</button>
        </form>
    </div>

    <div class="span4 tweetListBox" ng-controller="TweetListCtrl">
        <div class="tweetsBox">
            <h4>Tweets</h4>
        </div>
        <div>
            <a ng-click="isCollapsed = !isCollapsed">Filter</a>

            <div collapse="isCollapsed">
                <label class="filterLabel">User:</label><input class="filterIn" ng-model="userQuery.alias">

                <label class="filterLabel">Message:</label><input class="filterIn" ng-model="userQuery.message">
            </div>
        </div>
        <div class="tweetline"
             ng-repeat="tweet in tweets.hits.hits| orderBy:dateSort:dateSortDescendant|tweetFilter:userQuery.alias:userQuery.message"
             ng-click="goConsultTweet(tweet)">
            <h5>{{tweet._source.alias}}</h5>
            <div>{{tweet._source.message}}</div>
            <h5 class="tweetDate">{{tweet._source.date| date:'dd/MM/yy HH:mm'}}</h5>
        </div>

    </div>
</div>
